.cartItem img {
	width: 200px;
	height: 200px;
}

.product-image-wrapper {
	height: 330px;
}

.productinfo img {
	height: 200px;
}

.productinfo  .details {
	color: #222;
	font-size: 15px;
min-height: 50px;
}

.productinfo .priceContainer{
	color: #222;
	font-size: 15px;
}

.we-infor {
width: 1170px;
margin: auto;
}

.itemThumb img {
width: 100px;
height: 100px;
}
.page-login .span-24{
	width: 100%;
	margin-bottom: 10px;
}

.page-login .span-12{
	width: 45%;
}
.page-login .category-tab{
	margin-bottom: 10px;
}
.page-login #categoryTab{
	margin-bottom: 10px;
}
.nav>li>a {
color: #fff;
}
.nav>li {
float: left;
color: #fff;
}
.shop-menu {
top: 60px;
}
.nav {
position: absolute;
right: 0;
margin-bottom: 10px;
}
.nav>li>a:hover, .nav>li>a:focus { text-decoration:underline; background: none; }
	
