@charset "utf-8";
/* font 
font-family: 'Lato', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Raleway', sans-serif;
.clear{ clear:both}
*/
body { }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    ; font-family: 'Lato', sans-serif;
   olor: #2e2e2e;
    font-size: 18px;
    font-style: inherit;
    font-weight: inherit;
}
body p { line-height:40px; margin-bottom:25px }
/* CSS header */
header { margin-bottom:30px }
.header_top { position:absolute; top:0; left:0; z-index:9999; width:100% }

.logo { padding-top:60px }
.main { max-width:1170px; margin:auto; position:relative }
/* shop-menu */
.shop-menu { position:absolute; right:0; top:60px }
.shop-menu a { color:#fff; text-align:center; display:block; text-transform:uppercase; font-size:18px }

.shop-menu .fa { padding-right:5px }
/* banner */
.banner { width:100%; overflow:hidden }
.banner img { width:100% }
.infor-banner { position:absolute; top:190px; width:100%; text-align:center; color:#fff }
.infor-banner h1 { font-size:50px; font-weight:800; text-transform:uppercase; font-family: 'Raleway', sans-serif; margin-bottom:35px; margin-top:0; line-height:50px }
.infor-banner h2 { font-size:35px; font-weight:600; text-transform:uppercase; font-family: 'Raleway', sans-serif; margin-bottom:5px }
.infor-banner a { font-family: 'Cabin', sans-serif; font-weight:700; font-size:28px; text-transform:uppercase; color:#fff; margin-bottom:15px }
.infor-banner a.btn-buy-gift { background:#00b2ef; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius: 6px; width:236px; height:60px; text-align:center; line-height:60px; display:inline-block; margin-right:13px }
.infor-banner a.btn-out-story { border:2px solid #fff; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius: 6px; width:236px; height:60px; text-align:center; line-height:60px; display:inline-block; margin-left:13px }
.infor-banner a:hover { text-decoration:none }
.infor-banner a.btn-buy-gift:hover { background:#FE980F }
.infor-banner a.btn-out-story:hover { border:2px solid #FE980F }
/* top-main */
.top-main { text-align:center; width:100%; margin-bottom:40px }
.top-main h3 { color:#2e2e2e; font-size:28px; border-bottom:1px solid #e0e0e0; padding-bottom:30px; margin-bottom:35px; font-weight:900; text-transform:uppercase; font-family: 'Raleway', sans-serif }
.top-main p { width:60%; margin:auto; line-height:40px; font-size:18px; color:#2e2e2e }
/* logo-company */
.logo-company { text-align: center; margin-bottom:55px; padding-top:15px }
.logo-company a { display:block; margin:0 42px; display:inline-block }
/* category-tab */
.category-tab { overflow: hidden; margin-bottom:60px }
.category-tab ul { list-style: none outside none; margin:0; padding: 0; width: 100%; }
.category-tab ul li a { border: 0 none; border-radius: 0; color: #2e2e2e; display: block; font-family: 'Roboto', sans-serif; font-size: 16px; text-transform: uppercase; background:#ebebeb; width:194px; height:52px; padding:0; line-height:52px }
.category-tab ul li a:hover { background:#353535; color:#fff; }
.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #353535; border:0px; color: #FFFFFF; cursor: default; margin-right:0; margin-left:0; }
.nav-tabs li a { border: 1px solid rgba(0, 0, 0, 0); border-radius: 4px 4px 0 0; line-height: 1.42857; margin-right:0; }
.nav-tabs { text-align:center; border-bottom:none }
.nav-tabs > li { float:none; display:inline-block }
.product-image-wrapper { border:1px solid #eaeaea; overflow: hidden; margin-bottom:30px; background:#f8f8f8 }
.single-products { position: relative; }
.new, .sale { position: absolute; top: 0; right: 0; }

/* banner-small*/
.banner-small{ width:100%; margin-bottom:65px; overflow:hidden}
.banner-small .banner-item{ float:left; width:570px;  position:relative; margin-right:30px}
.banner-small .banner-item:nth-child(2){ margin-right:0}
.banner-small .banner-item .info-item{ position:absolute; top:120px; left:137px; z-index:99; background:url(../images/bg-info-item.png) no-repeat center top; padding-top:25px; text-align:center; height:99px; width:318px;-moz-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s}
.banner-small .banner-item .info-item:hover{background:url(../images/bg-info-item-hover.png) no-repeat center top}
.banner-small .banner-item .info-item p{ width:242px; margin-bottom:0;color:#222; font-family: 'Raleway', sans-serif; font-weight:600; line-height:26px; display:inline}
.banner-small .banner-item .info-item a{color:#222}
.banner-small .banner-item .info-item a:hover, .banner-small .banner-item .info-item:hover a{ color:#fff; text-decoration:none}
/*************************
******.productinfo ******
**************************/
.productinfo { position:relative; }
.product-overlay { background:#FE980F; top: 0; display: none; height: 0; position: absolute; transition: height 500ms ease 0s; width: 100%; display: block; opacity:;
}
.single-products:hover .product-overlay { display:block; height:100%; }
.product-overlay .overlay-content { bottom: 0; position: absolute; bottom: 0; text-align: center; width: 100%; }
.product-overlay .add-to-cart { background:#fff; border: 0 none; border-radius: 0; color: #FE980F; font-family: 'Roboto', sans-serif; font-size: 15px; margin-bottom: 25px; }
.product-overlay .add-to-cart:hover { background:#fff; color: #FE980F; }
.product-overlay p { font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; color: #fff; }
.productinfo h2 { font-size:20px; color:#4d4d4d; margin-bottom:20px }
.productinfo img { margin-bottom:15px; width:100% }
.productinfo img:hover { opacity:0.6 }
.productinfo p { margin-bottom:15px; font-weight:700 }
.add-to-cart { background:#00b2f0; border: 0 none; border-radius: 0; color: #fff; margin-bottom: 12px; text-transform:uppercase; font-weight:700;float:none }
.add-to-cart:hover { background: #FE980F; border: 0 none; border-radius: 0; color: #FFFFFF; }
.add-to { margin-bottom: 10px; }
.add-to-cart i { margin-right:5px; }
.add-to-cart:hover { background: #FE980F; color: #FFFFFF; }
.choose { border-top: 1px solid #F7F7F0; }
.choose ul li a { color: #B3AFA8; font-family: 'Roboto', sans-serif; font-size: 13px; padding-left: 0; padding-right: 0; }
.choose ul li a i { margin-right:5px; }
.choose ul li a:hover { background:none; color:#FE980F }
.tab-content .col-sm-3:nth-child(4n+1) {
clear:left
}
/* #back-top */
.page { width:625px; margin:auto auto 60px }
.number-page { background:url(../images/bg-title.png) repeat-x left bottom; text-align:center; margin-bottom:15px }
.number-page span { background:#fff; display:inline-block; padding:0 30px }
.page a.show-next { display:inline-block; width:295px; height:90px; background:#586773; color:#fff; text-transform:uppercase; text-align:center; padding-top:20px; margin:0 10px 0 0 }
.page a.show-all { display:inline-block; width:295px; height:90px; background:#586773; color:#fff; text-transform:uppercase; text-align:center; padding-top:20px; margin:0 0 0 10px }
.page a.show-next:hover, .page a.show-all:hover { text-decoration:none; background:#FE980F }
/*.we-infor */
.we-infor { margin-bottom:100px; position: relative; }
.we-infor h3 { color:#2e2e2e; font-size:28px; border-bottom:1px solid #e0e0e0; padding-bottom:30px; margin-bottom:35px; font-weight:900; text-transform:uppercase; font-family: 'Raleway', sans-serif; text-align:center }
.we-infor img { float:right; -webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px; width:440px }
.we-infor p { width:670px; float:left }
/* footer-bottom */
.footer-bottom { background:url(../images/bg-footer.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding:60px 0 0; overflow:hidden; text-align:center; position:relative }
.footer-bottom h1 { color: #fff; font-weight:900; text-transform:uppercase; font-family: 'Raleway', sans-serif; font-size:52px; display:inline-block; padding-right:30px }
.footer-bottom a { color: #fff; text-decoration: underline; display:inline-block; font-size:24px; font-family: 'Raleway', sans-serif; font-weight:600 }
.footer-bottom a:hover { color:#fe980f }
/* #back-top */
#back-top { bottom: 0; content: ""; display: block; height: 55px; width:55px; margin-bottom: 0; position: absolute; right:-110px; z-index: 9999; }
#back-top a { border:2px solid #010101; display: block; -webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px; width: 55px; height: 55px }
#back-top span { display: block; height: 43px; margin-bottom: 7px; width: 68px; padding-left:12px; padding-top:3px; font-size:40px; color:#010101 }
#back-top a:hover { background-color:#fe980f }
#back-top a:hover span { color:#fff }

/* new css*/
.cartPane{ width:100% !important; text-align:center;}
.cartPane h2 { color:#2e2e2e; font-size:28px; border-bottom:1px solid #e0e0e0; padding-bottom:30px; margin-bottom:35px; font-weight:900; text-transform:uppercase; font-family: 'Raleway', sans-serif; text-align:center }
.span-24{width:100% !important;}


 @media only screen and (max-width:1380px) {
.logo {
padding-top:30px
}
.shop-menu {
top:30px
}
.infor-banner {
top:150px
}
.we-infor p {
width:60%
}
.we-infor img {
width:35%
}
#back-top {
right:0px; bottom:-76px
}
}
@media only screen and (max-width:1200px) {
.logo {
padding-top:15px
}
.shop-menu {
top:15px;
right:2%
}
.infor-banner {
top:90px
}
.infor-banner h2 {
font-size:35px;
margin-bottom:10px
}
.infor-banner h1 {
font-size:50px;
margin-bottom:30px
}
.main {
max-width:96%;
padding:0 2%
}
#back-top {
right:0
}
}
@media only screen and (max-width:1100px) {
.infor-banner h2 {
font-size:25px;
margin-bottom:5px
}
.logo-company a {
margin:0 25px
}
.infor-banner h1 {
 font-size: 40px;
 margin-bottom: 20px;
 margin-top: 0;
}
.infor-banner a {
font-size:20px
}
.infor-banner a.btn-buy-gift {
 height: 50px;
 line-height: 50px;
 width: 200px;
}
.infor-banner a.btn-out-story {
 height: 50px;
 line-height: 50px;
 width: 200px;
}
}
